.gallery-title {
    display: flex; 
    width: 100%;
}

.gallery-sub-title {
    display: flex; 
    color:  rgb(30, 30, 30);
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.gallery-describe {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.gallery-works-list {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
}

.gallery-comingsoon {
    display: flex; 
    color:  rgb(80, 80, 80);
    font-size: 100px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#sub-gallery-line-wrap {
    display: flex; 
    width: 100%;
    margin-top: 33px;
    justify-content: center;
    align-items: center;
}

.sub-gallery-line {
    display: grid; 
    width: 100%;
    max-width: 1310px;
    min-width: 810px;
    height: auto;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    grid-gap: 15px 15px;
    padding: 50px 100px;
}

.sub-gallery-line .sub-gallery-wrap {
    justify-content: center;
    width: auto;
    height: 250px;
    max-width: 250px;
    min-width: 150px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
}

.sub-gallery-wrap .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.sub-gallery-wrap:hover .gallery-img {
    transform: scale(1.1); 
}

.gallery-line {
    display: flex; 
    width: 100%;
    margin-top: 33px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.gallery-line .gallery-wrap {
    width: 250px;
    height: 250px;
    min-width: 150px;
    min-height: 150px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
}

.gallery-wrap .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-wrap:hover .gallery-img {
    transform: scale(1.1); 
}

.gallery-all-button {
    margin-top: 35px;
    margin-bottom: 70px;
    display: flex; 
    width: 100%;
    justify-content: center;
    align-items: center;
}

.gallery-all-button .gallery-all-button-wrap {
    height: 50px;
    width: 200px;
    border-radius: 25px;
    border: 2px solid rgb(30, 30, 30);
    background-color: rgb(255,255,255);
    transition: background-color 0.3s ease;
}

.gallery-all-button-wrap .gallery-all-button-con {
    margin-top: 0;
    display: flex;
    font-size: 18px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.gallery-all-button-con a {
    text-decoration: none;
    color: rgb(80,80,80);
    transition: color 0.3s ease;
}

.gallery-all-button-wrap:hover{
    background-color: rgb(30,30,30);
}

.gallery-all-button-wrap:hover .gallery-all-button-con a {
    color: rgb(255, 255,255);
}
