.link-title {
    display: flex; 
    width: 100%;
}

.links{
    display: flex; 
    width: 100%;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.link{    
    width: 560px;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
}

.link-img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: transform 0.3s ease;
}

.link:hover .link-img {
    opacity: 0.5;
    transform: scale(1.05); 
}