.profile-title {
    display: flex; 
    width: 100%;
    margin-bottom: 10px;
}

#profile{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#profile #profile-icon{
    margin-top : 20px;
    width: 160px;
    height: 160px;
}

#profile-icon .profile-icon-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#profile .profile-name {
    font-size: 35px;
    color: rgb(30, 30, 30);
}

@media screen and (max-width: 480px) {
    #profile{
        gap: 20px;
        width: 94%;
        padding: 0 3%;
    }

    #profile #profile-icon{
        margin-top : 15px;
        width: 120px;
        height: 120px;
    }

    #profile .profile-name {
        font-size: 22px;
    }
}
